body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
}

h2 {
    margin-bottom: 15px;
    color : black ;
} 

.categories {
    text-align: left;
}

.categories a {
    display: block;
    padding: 12px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.categories a:hover {
    background-color: #0056b3;
}
