<!DOCTYPE html> 
<html> 
<head> 
<link rel = "stylesheet" type="text/css" href = "{{url_for('static', filename= 'styles/design2.css')}}"> 
</head> 

<title> Categories </title>  
<center> 
<h1> Hello {{username}}! I will be your personal tour guide on your very special trip! 
Find what suites you best! Let us lead you to the best of places in Jerusalem. 
Choose your domain of intrest : </h1>  


<h1> <a href = "/history"> History </a> 

<br> 
<a href = "/modernatt"> Modern attractions </a>  
 

<br>
<a href = "/archit">  Architecture wonders </a>
 </h1>


</center> 

</html> 