<!DOCTYPE html> 
<html> 
<head> <link rel = "stylesheet" type="text/css" href = "{{url_for('static', filename= 'styles/design2.css')}}"> 
</head> 
<center> 
   <h1> Welcome to your tourist guide for the amazing city of Jerusalem! </h1> 
<h1> <form action= "/" method="post"> 
   Please enter your email: <input class="inp" type="text" name="email" value=""> 
    <br> 
    Please enter your password: <input class="inp" type="password" name="password" value=""> 
    <br> 
    <input class="inp" type="submit" value="Submit"> 
    <input class="inp" type ="text" name="full_name" placeholder="Your full name"> 
    <br> 
    <input class="inp" type ="text" name="username" placeholder="Your username">  
</form> 
<br> 
<a href = "/signin"> Already have an account? Sign in here. </a> 
</center> 
</h1> 




</html>  