<!DOCTYPE html> 
<html> 


<form action= "/" method="post"> 
   Please enter your email: <input type="text" name="email" value=""> 
    <br> 
    Please enter your password: <input type="password" name="password" value=""> 
    <br> 
    <input type="submit" value="Submit"> 
    <input type ="text" name="full_name" placeholder="Your full name"> 
    <input type ="text" name="username" placeholder="Your  username">  


</form> 

<a href = "/signin"> Already have an account? Sign in here. </a> 




</html> 